@mixin css-column-2 {

    }
    
/* 
	@mixin text-columns ( $column ) {
	-webkit-column-count: $column; 
    -moz-column-count: $column; 
    column-count: $column;
    }
    
@mixin text-column-gap ( $gap ) {
	-webkit-column-gap: $gap; 
    -moz-column-gap: $gap; 
    column-gap: $gap;
}*/